@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
header {
    background-color: rgba(2, 10, 17, 0.969);
    color: rgb(15, 12, 12);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #bc13fe,
        0 0 21px #bc13fe,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #351143,
        0 0 102px #351143,
        0 0 151px #351143;
  };